<div class="container-fluid">
  <table class="table table-striped table-success">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
      </tr>
    </thead>
    <tbody *ngFor="let alumno of listaAlumnos">
      <tr>
        <td scope="row">{{alumno.id}}</td>
        <td scope="row">{{alumno.name}}</td>
        <td scope="row">{{alumno.last_name}}</td>
        <td scope="row">{{alumno.age}}</td>
      </tr>
    </tbody>
  </table>
</div>